<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>User anlegen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Kennung</ion-label>
      <ion-input [(ngModel)]="kennung"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vorname</ion-label>
      <ion-input [(ngModel)]="vorname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nachname</ion-label>
      <ion-input [(ngModel)]="nachname"></ion-input>
    </ion-item>
    <ion-button (click)="saveUser()">Speichern</ion-button>
  </ion-list>


</ion-content>
