<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Datei Upload</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input type="file" (change)="upload($event)"></ion-input>
  <vg-player *ngIf="sourceUrl">
    <video id="singleVideo" preload="auto" controls>
      <source [src]="sourceUrl" type="video/mp4">
    </video>
  </vg-player>
  <progress max="100" *ngIf="(uploadProgress | async) !== 100 && (uploadProgress | async) > 0" [value]="(uploadProgress | async)"></progress>
  <ion-label *ngIf="(uploadProgress | async) !== 100 && (uploadProgress | async) > 0">{{(uploadProgress | async) | number:"1.0-0"}}% / 100%</ion-label>

</ion-content>
